{% extends 'base.html' %}

{% block title %}Now Playing{% endblock %}

{% block header %}
    Now Playing - Übersicht der Player
{% endblock %}

{% block content %}
    <div class="column">
        <h2>Player 1</h2>
        <hr />
        <p>Device: {{ player_1.device }}</p>
        <p>Track: {{ player_1.track }}</p>
    </div>
    <div class="column">
        <h2>Player 2</h2>
        <hr />
        <p>Device: {{ player_2.device }}</p>
        <p>Trackaten: {{ player_2.track }}</p>
    </div>
{% endblock %}